# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log

# Env / secrets
.env
*.env

# Node / Frontend
frontend/node_modules/
node_modules/
frontend/dist/

# Django static output
staticfiles/
staticfiles/assets/
static/
